@charset "UTF-8";
/* font */
 
@font-face {
	font-family: SimSun;
	src: url(fonts/SimSun.ttf);
}
@font-face {
	font-family: SimHei;
	src: url(fonts/SimHei.ttf);
}

/* page config */
@page {
	margin: 20mm;
}
@page :blank {
	@top-left {
		content: none;
	}
	@top-center {
		background: none;
		content: none;
	}
	@top-right {
		content: none;
	}
	@bottom-left {
		background: none;
		content: none;
	}
	@bottom-center{
		content: none;
	}
	@bottom-right {
		background: none;
		content: none;
	}
	margin: 0;
}
@page :first {
	@top-left {
		content: none;
	}
	@top-center {
		background: none;
		content: none;
	}
	@top-right {
		content: none;
	}
	@bottom-left {
		background: none;
		content: none;
	}
	@bottom-center{
		content: none;
	}
	@bottom-right {
		background: none;
		content: none;
	}
	margin: 0;
}
@page contents {
	@top-left {
		content: none;
	}
	@top-center {
		background: none;
		content: none;
	}
	@top-right {
		content: none;
	}
	@bottom-left {
		background: none;
		content: none;
	}
	@bottom-center{
		content: none;
	}
	@bottom-right {
		background: none;
		content: none;
	}
	counter-reset: page 0;
}
@page :left {
	@top-left {
		background: none;
		content: none;
	}
	@bottom-center{
		text-align: center;
		content: 'SmartyDoc Sample';
		font-size: 12px;
		color: #3F3F3F;
	}
	@bottom-left {
		background: #fbc847;
		content: counter(page);
		height: 5.5mm;
		text-align: center;
		font-size: 10px;
		width: 5.5mm;
		margin-top: 5.5mm;
		color: #FFFFFF;
	}
}
@page :right {
	@top-left {
		background: none;
		content: none;
	}
	@top-right {
		content: string(heading);
		font-size: 10px;
		height: 5.5mm;
		vertical-align: middle;
		width: 100%;
		font-family: SimHei;
		margin-bottom: 5.5mm;
		color: #000000;
	}
	@bottom-center{
		text-align: center;
		content: 'SmartyDoc Sample';
		font-size: 12px;
		color: #3F3F3F;
	}
	@bottom-right {
		background: #fbc847;
		content: counter(page);
		height: 5.5mm;
		text-align: center;
		font-size: 10px;
		width: 5.5mm;
		margin-top: 5.5mm;
		color: #FFFFFF;
	}
}
/* global style */
html{
	font-family: SimSun;
	color: #3F3F3F;
}
body,h1,h2,h3,h4,h5,h6,p,div,ul,li,ol,a{
	margin: 0;
	padding: 0;
	list-style: none;
}
html body article{
	display: block;
	/* width: 210mm;
	height: 297mm; */
	font-size: 14px;
	line-height: 28px;
	text-indent: 2em;
	min-height: 257mm;
	break-before: right;
}
article section{
	margin: 10px 0;
	line-height: 28px;
}
article .medium,
article .large,
article .small
{
	text-align: center;
	margin: 20px 0;
}
article .small img{
	width: 60%;
}
article .medium img{
	width: 80%;
}
article .large img{
	width: 100%;
}
article table{
	margin: 10px 0;
	text-align: center;
	width: 92%;
	margin-left: 4%;
	font-size: 12px;
	border-collapse: collapse;
}
article table th,article table td{
	border: 1px solid #000;
}
article table thead th,
article table strong{
	font-family: SimHei;
	color:#fbc847;
}
article strong{
	font-family: SimHei;
}
article rightalign{
	display: block;
	text-align: right;
}
article blockquote{
	background: #fbc847;
	border-radius: 8px;
	padding: 5px;
	margin: 15px 0;
	line-height: 25px;
}
article section ul li{
	display: inline-block;
	text-indent: 0;
	border:1px solid #fbc847;
	border-radius: 5px;
	padding: 0 6px;
	line-height: 21px;
	height: 19px;
	margin: 2px 0;
}
/* cover */
article#cover{
	page: first;
	width: 210mm;
	height: 297mm;
	text-indent: 0;
	text-align: center;
	background: url(imgs/common/cover.png) no-repeat center;
	background-size: cover;
}
article#cover h1{
	font-family: SimHei;
	color: #fbc847;
	font-size: 39px;
	padding-top: 56mm;
	line-height: 94px;
	letter-spacing: 5px;
}
article#cover div{
	margin-top: 160mm;
	padding-top:5mm;
	padding-bottom: 7mm;
	text-align: center;
	position: relative;
	background: #fbc847;

}
article#cover address{
	font-family: SimHei;
	font-style: normal;
	line-height: 37px;
	color: #393939;
	font-size: 20px;
}
article#cover testdate{
	font-family: SimHei;
	font-style: normal;
	line-height: 35px;
	color: #393939;
	font-size: 20px;
}

/* TOC */
article#contents{
	width: 170mm;
	page: contents;
	text-indent: 0em;
}
article#contents h2{
	font-family: SimHei;
	text-align: center;
	margin-bottom: 14px;
	string-set: heading content();
	font-size: 22px;
	color: #fbc847;
}
article#contents ul li{
	position: relative;
	margin-bottom: 11px;
	height: 16px;
	font-size: 14px;
	font-family: SimHei;
}
article#contents ul li a.toc-title{
	color: inherit;
	text-decoration: none;
	background: #fff;
	padding-right: 10px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
article#contents ul li a.toc-title::before {
  content: target-text(attr(href)); 
}
article#contents ul li a.toc-page{
	text-decoration: none;
	color: #3F3F3F;
}
article#contents ul li a.toc-page::after {
	color: inherit;
	content: target-counter(attr(href), page);
	position:absolute;
	text-align: right;
	right: 0;
	width: 5%;
}
article#contents ul li .list-line{
	border-top:1px dashed #d8d8d8;
	position:absolute;
	top:8px;
	width: 95%;
}

/* heading 2 */
article h2{
	font-family: SimHei;
	font-size: 28px;
	color: #fbc847;
	margin: 15px 0;
}

/* heading 3 */
article section h3{
	font-family: SimHei;
	font-size: 18px;
	color: #fbc847;
	line-height: 35px;
	margin: 15px 0;
	position: relative;
	padding-left: 5px;
}
article section h3:first-child{
	margin-top: 0;
}
article section h3::before {
	content: '';
	width: 25px;
	height: 25px;
	background-size: cover;
	position: absolute;
	left: 0px;
	top: 6px;
}
